
.parent{

    
    
    width: auto;
    display: flex;
    flex-direction: column;
    
   box-sizing: content-box;
   display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  top: 20px;
   right: 20px;
   justify-content: left;
   top: 20px;
   left: 20px;
}

.child{
 
background-color: #6699ff;
width: 140px;
height: 70px;
text-align: center;
justify-content: center;
padding-top: 50px;
border: solid;
border-color: aquamarine;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
color: whitesmoke;
text-decoration: none;
padding:10px;
}

.image img{
    width: 300px;
  position:relative;
   justify-content: right;
 float: right;
   border: solid;
   border-color: whitesmoke;
top: 20px;
   right: 20px;
   border: solid;
   background-color: aqua;
   position: relative;
   box-sizing: border-box;
opacity: 0,4;
box-shadow: #6699ff;
}

body{
background-image:url("Okean.jpg");
height: auto;
background-position: center;
background-size: cover;
}
h1{
text-align: center;
background-color: #6699ff;
color: whitesmoke;
width: 50%;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
font-style: oblique;

padding-top: 20px;

display: inline-block



}


h2{
    text-align: center;
    background-color: #6699ff;
    color: whitesmoke;
    width: 200px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
justify-content: flex-end;
    padding-top: 20px;
display: flex;

display: inline-block;

}
p{
font-size: x-large;
color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
text-align:left;
width:50%;
padding:50px;
margin-left:160px;
background-color:#6699ff;
display:inline-block;
margin-top: 400px;
}

footer{
background-color: #6699ff;
color: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
text-align:center;


position: static;
}

.tata{
display:flex;
flex-direction: row;
margin-top: 600px;
padding:50px;
border:solid;
border-color: azure;
justify-content:center;
}

.dete{
padding: 20px;
border: solid;
border-color: aquamarine;
}

.tata1{
width: 400px;
height: auto;
margin-left: 300px;


position: relative;

}

.child a:link{
color: azure;
text-decoration: none;

}

h2 a:link{
  color: azure;
  text-decoration: none;
}

form{
position: relative;
display: block;
width: 400px;
margin-left: 400px;
padding:50px;
margin-top: 600px;
}